@CHARSET "UTF-8";
#hintContainer{
	display:none;
	position:absolute;
	background-color:white;
	z-index:10;
	width:350px;
}

#hintContainer li{
	text-align:center;
}

#hintContainer a{
	cursor:pointer;
}