<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>	
  <welcome-file-list>
    <welcome-file>pages/general/index.jsp</welcome-file>
  </welcome-file-list>
   <resource-ref>
  	<description>EasyBuy DataSource</description>
  	<res-ref-name>jdbc/easybuy</res-ref-name>
  	<res-type>javax.sql.DataSource</res-type>
  	<res-auth>Container</res-auth>
  </resource-ref>
  <filter>
  	<filter-name>CharacterEncodingFilter</filter-name>
  	<filter-class>com.szx.filter.CharacterEncodingFilter</filter-class>
  	<init-param>
  		<param-name>charset</param-name>
  		<param-value>utf-8</param-value>
  	</init-param>
  </filter>
  <filter>
  	<filter-name>LoginCheckFilter</filter-name>
  	<filter-class>com.szx.filter.LoginCheckFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>CharacterEncodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
  	<filter-name>LoginCheckFilter</filter-name>
  	<url-pattern>/pages/admin/*</url-pattern>
  </filter-mapping>
  <filter>
  	<filter-name>LoginCheckFilter2</filter-name>
  	<filter-class>com.szx.filter.LoginCheckFilter2</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>LoginCheckFilter2</filter-name>
  	<url-pattern>/pages/general/user_console/*</url-pattern>
  </filter-mapping>
  <servlet>
  	<servlet-name>loginControlServlet</servlet-name>
  	<servlet-class>com.szx.controller.user.LoginControlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>loginControlServlet</servlet-name>
  	<url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>registerControlServlet</servlet-name>
  	<servlet-class>com.szx.controller.user.RegisterControlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>registerControlServlet</servlet-name>
  	<url-pattern>/register</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>userControlServlet</servlet-name>
  	<servlet-class>com.szx.controller.user.UserControlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>userControlServlet</servlet-name>
  	<url-pattern>/usercontrol</url-pattern>
  </servlet-mapping> 
  
  <servlet>
  	<servlet-name>newsControlServlet</servlet-name>
  	<servlet-class>com.szx.controller.news.NewsControlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>newsControlServlet</servlet-name>
  	<url-pattern>/newscontrol</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>DownloadServlet</servlet-name>
  	<servlet-class>com.szx.controller.common.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DownloadServlet</servlet-name>
  	<url-pattern>/download</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ProductControlServlet</servlet-name>
  	<servlet-class>com.szx.controller.product.ProductControlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ProductControlServlet</servlet-name>
  	<url-pattern>/productcontrol</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>CategoryControlServlet</servlet-name>
  	<servlet-class>com.szx.controller.product.CategoryControlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CategoryControlServlet</servlet-name>
  	<url-pattern>/categorycontrol</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>OrderControlServlet</servlet-name>
  	<servlet-class>com.szx.controller.order.OrderControlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>OrderControlServlet</servlet-name>
  	<url-pattern>/ordercontrol</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-name>OrderDetailControlServlet</servlet-name>
  	<servlet-class>com.szx.controller.order.OrderDetailControlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>OrderDetailControlServlet</servlet-name>
  	<url-pattern>/orderdetailcontrol</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ShopcartControlServlet</servlet-name>
  	<servlet-class>com.szx.controller.common.ShopcartControlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ShopcartControlServlet</servlet-name>
  	<url-pattern>/shopcart</url-pattern>
  </servlet-mapping>
  
  
  <jsp-config>  
    <jsp-property-group>  
        <description>include encoding</description>  
        <display-name>JSPConfiguration</display-name>  
        <url-pattern>*.jsp</url-pattern>  
        <el-ignored>false</el-ignored>  
        <page-encoding>UTF-8</page-encoding>  
        <scripting-invalid>false</scripting-invalid>  
        <include-prelude></include-prelude>  
        <include-coda></include-coda>  
    </jsp-property-group>  
    
    <jsp-property-group>  
        <description>include encoding</description>  
        <display-name>JSPConfiguration</display-name>  
        <url-pattern>*.html</url-pattern>  
        <el-ignored>false</el-ignored>  
        <page-encoding>UTF-8</page-encoding>  
        <scripting-invalid>false</scripting-invalid>  
        <include-prelude></include-prelude>  
        <include-coda></include-coda>  
    </jsp-property-group>  
</jsp-config>  
</web-app>
